{
	"trailingComma": "none",
	"useTabs": true,
	"printWidth": 180,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"apexInsertFinalNewline": false,
	"htmlWhitespaceSensitivity": "ignore",
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cmp,page,component}",
			"options": { "parser": "html" }
		}
	]
}
