{
	"trailingComma": "none",
	"useTabs": true,
	"printWidth": 180,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"singleQuote": true,
	"tabWidth": 2,
	"apexInsertFinalNewline": false,
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cmp,page,component}",
			"options": { "parser": "html" }
		},
		{
			"files": "*.html",
			"options": { "parser": "html", "useTabs": false, "tabWidth": 2 }
		},
		{
			"files": "*.css",
			"options": { "useTabs": false, "tabWidth": 4, "singleQuote": false }
		},
		{
			"files": "*.{yml,yaml}",
			"options": { "singleQuote": false }
		}
	]
}
