{
  "useTabs": false,
  "printWidth": 180,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "tabWidth": 2,
  "apexInsertFinalNewline": false,
  "overrides": [
    {
      "files": "*.html",
      "options": { "useTabs": false, "tabWidth": 2 }
    },
    {
      "files": "*.css",
      "options": { "useTabs": false, "tabWidth": 4, "singleQuote": false }
    }
  ]
}
